<!-- Header fragment extracted from layout-internal.html -->
<div th:fragment="app-header">
    <cds-header aria-label="IBM Platform Name">
        <cds-header-menu-button
            button-label-active="Close menu"
            button-label-inactive="Open menu"
        >
        </cds-header-menu-button>

        <cds-header-name
            href="javascript:void(0)"
            hx-get="/admin"
            hx-push-url="true"
            hx-target="#view-panel"
            prefix="IKO"
            >[Platform]
        </cds-header-name>

        <cds-header-global-bar>
            <cds-link href="javascript:void(0)" class="header-user-name">
                <span th:text="${username} ?: '&nbsp;'">Randell Bakker</span>
            </cds-link>

            <cds-header-global-action
                panel-id="switcher-panel"
                tooltip-alignment="right"
                tooltip-text="Open switcher"
            >
                <svg
                    slot="icon"
                    aria-hidden="true"
                    focusable="false"
                    width="20"
                    height="20"
                    viewBox="0 0 32 32"
                >
                    <path
                        d="M16 4a5 5 0 11-5 5 5 5 0 015-5m0-2a7 7 0 107 7A7 7 0 0016 2zM26 30H24V25a5 5 0 00-5-5H13a5 5 0 00-5 5v5H6V25a7 7 0 017-7h6a7 7 0 017 7z"
                    />
                </svg>
            </cds-header-global-action>
        </cds-header-global-bar>

        <cds-header-panel id="switcher-panel" class="header-panel">
            <cds-tabs value="account">
                <cds-tab value="account">Account</cds-tab>
            </cds-tabs>
            <cds-tab-panels>
                <cds-tab-panel value="account">
                    <cds-structured-list>
                        <cds-structured-list-head>
                            <cds-structured-list-header-row>
                                <cds-structured-list-header-cell>
                                    Snelkoppelingen
                                </cds-structured-list-header-cell>
                            </cds-structured-list-header-row>
                        </cds-structured-list-head>

                        <cds-structured-list-body>
                            <cds-structured-list-row>
                                <cds-structured-list-cell>
                                    <cds-link
                                        href="https://docs.integraal-klant-objectbeeld.nl"
                                        target="_blank"
                                        >Help</cds-link
                                    >
                                </cds-structured-list-cell>
                            </cds-structured-list-row>

                            <cds-structured-list-row>
                                <cds-structured-list-cell>
                                    <cds-link href="/logout">
                                        Afmelden
                                    </cds-link>
                                </cds-structured-list-cell>
                            </cds-structured-list-row>
                        </cds-structured-list-body>
                    </cds-structured-list>
                </cds-tab-panel>
            </cds-tab-panels>
        </cds-header-panel>
    </cds-header>
</div>
