<cds-side-nav-items th:fragment="menu">
    <cds-side-nav-link
        th:each="menuItem : ${menuItems}"
        th:attr="hx-get=${menuItem.path}"
        th:text="${menuItem.name}"
        hx-swap="innerHTML"
        hx-transition="true"
        hx-target="#view-panel"
        hx-push-url="true"
        hx-on::after-request="
         document.querySelectorAll('cds-side-nav-link').forEach(e => e.removeAttribute('active'));
         this?.toggleAttribute('active');"
        href="javascript:void(0);">
    </cds-side-nav-link>
</cds-side-nav-items>
