<th:block th:fragment="profile-search-results">
    <cds-table-body id="search-results">
        <cds-table-row th:each="profile : ${profiles}"
                       th:attr="hx-get=@{'/admin/profiles/edit/' + ${profile.id}},
                                 hx-target='#view-panel',
                                 hx-swap='innerHTML',
                                 hx-push-url='true'">
            <cds-table-cell th:text="${profile.name}"></cds-table-cell>
            <cds-table-cell th:text="${profile.primarySearch}"></cds-table-cell>
        </cds-table-row>
    </cds-table-body>
</th:block>