<th:block th:fragment="profile-edit">
    <cds-content>
        <cds-tile>
            <cds-breadcrumb no-trailing-slash="">
                <cds-breadcrumb-item>
                    <cds-breadcrumb-link
                        href="/admin"
                        is-currentpage="true">
                        Home
                    </cds-breadcrumb-link>
                </cds-breadcrumb-item>
                <cds-breadcrumb-item>
                    <cds-breadcrumb-link
                        href="javascript:void(0);"
                        hx-get="/admin/profiles"
                        hx-target="#view-panel"
                        is-currentpage="false"
                        hx-push-url="true"
                        visited="true">
                        Profiles
                    </cds-breadcrumb-link>
                </cds-breadcrumb-item>
                <cds-breadcrumb-item>
                    <cds-breadcrumb-link
                        href="javascript:void(0);"
                        th:attr="hx-get=@{'/admin/profiles/edit/' + ${form.id}}"
                        hx-target="#view-panel"
                        is-currentpage="true"
                        hx-push-url="true"
                        visited="true">
                        Detail
                    </cds-breadcrumb-link>
                </cds-breadcrumb-item>
            </cds-breadcrumb>

            <h2>Edit Profile:</h2>
            <cds-form-group id="form-group" name="form-group" legend-text="Edit existing profile">
                <cds-stack gap="7">
                    <cds-text-input name="id"
                                    style="width: 50%"
                                    th:value="${form.id}"
                                    label="Id"
                                    readonly="true">
                    </cds-text-input>
                    <cds-text-input name="name"
                                    style="width: 50%"
                                    label="Name"
                                    th:attr="
                                    invalid=${errors?.getFieldError('name') != null} ? 'true' : null,
                                    invalid-text=${errors?.getFieldError('name')?.defaultMessage},
                                    value=${form?.name}
                                  ">
                    </cds-text-input>
                    <cds-dropdown name="primarySource"
                                  size="lg"
                                  style="width: 50%"
                                  helper-text=""
                                  title-text="Primary Source"
                                  label="Select a Primary Source"
                                  th:attr="invalid=${errors?.getFieldError('primarySource') != null} ? 'true' : null,
                                invalid-text=${errors?.getFieldError('primarySource')?.defaultMessage},
                                value=${form?.primarySource}">
                        <cds-dropdown-item th:each="search : ${searches}"
                                           th:value="${search.id}">
                            <span th:text="${search.name}"></span>
                        </cds-dropdown-item>
                    </cds-dropdown>
                    <cds-textarea id="transform"
                                  name="transform"
                                  style="width: 50%"
                                  label="Transform"
                                  helper-text="A valid JQ expression learn at https://jqlang.org/tutorial/"
                                  placeholder="e.g.: { bag: .left, brp: .right }"
                                  th:attr="
                                    invalid=${errors?.getFieldError('transform') != null} ? 'true' : null,
                                    invalid-text=${errors?.getFieldError('transform')?.defaultMessage},
                                    value=${form?.transform}
                                  ">
                    </cds-textarea>
                    <div style="max-width: fit-content;">
                        <cds-button
                            kind="primary"
                            hx-put="/admin/profiles"
                            hx-target="#view-panel"
                            hx-include="#form-group *">
                            Save
                        </cds-button>
                    </div>
                    <cds-table>
                        <cds-table-header-description slot="description">
                            Relations
                        </cds-table-header-description>

                        <!-- Toolbar + search -->
                        <cds-table-toolbar slot="toolbar">
                            <cds-table-toolbar-content>
                                <cds-button
                                    th:attr="hx-get=@{'/admin/profiles/' + ${form.id} +'/relations/create'}"
                                    hx-target="#modal-container"
                                    hx-swap="innerHTML"
                                    hx-push-url="false"
                                    hx-on::after-request="document.querySelector('cds-modal')?.setAttribute('open', 'true');">
                                    Add new Relation
                                    <svg
                                        focusable="false"
                                        preserveAspectRatio="xMidYMid meet"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor"
                                        aria-hidden="true"
                                        width="16"
                                        height="16"
                                        viewBox="0 0 32 32"
                                        slot="icon">
                                        <path
                                            d="M17 15L17 8 15 8 15 15 8 15 8 17 15 17 15 24 17 24 17 17 24 17 24 15z"></path>
                                    </svg>
                                </cds-button>
                            </cds-table-toolbar-content>
                        </cds-table-toolbar>

                        <!-- Table -->
                        <cds-table-head>
                            <cds-table-header-row>
                                <cds-table-header-cell>Relation ID</cds-table-header-cell>
                                <cds-table-header-cell>Parent ID</cds-table-header-cell>
                                <cds-table-header-cell>Search parameter mapping</cds-table-header-cell>
                                <cds-table-header-cell>Search</cds-table-header-cell>
                                <cds-table-header-cell>Transform</cds-table-header-cell>
                            </cds-table-header-row>
                        </cds-table-head>
                        <th:block th:insert="~{fragments/internal/relations :: relations}"></th:block>
                    </cds-table>
                </cds-stack>
            </cds-form-group>
        </cds-tile>
    </cds-content>
</th:block>