<cds-content>
    <cds-tile>
        <cds-breadcrumb no-trailing-slash="">
            <cds-breadcrumb-item>
                <cds-breadcrumb-link
                    href="/admin"
                    is-currentpage="true">
                    Home
                </cds-breadcrumb-link>
            </cds-breadcrumb-item>
            <cds-breadcrumb-item>
                <cds-breadcrumb-link
                    href="javascript:void(0);"
                    hx-get="/admin/profiles"
                    hx-target="#view-panel"
                    is-currentpage="false"
                    visited="true">
                    Profiles
                </cds-breadcrumb-link>
            </cds-breadcrumb-item>
        </cds-breadcrumb>

        <h2>Add Profile:</h2>
        <cds-form-group id="form-group" name="form-group" legend-text="Add form">
            <cds-stack gap="7">
                <cds-text-input name="name"
                                label="Name"
                                placeholder="Name">
                </cds-text-input>
                <cds-text-input name="primarySource"
                                label="Primary Source"
                                placeholder="Primary Source">
                </cds-text-input>
                <cds-textarea name="transform"
                              label="Transform"
                              placeholder="JQ Transform"></cds-textarea>
                <cds-button
                    type="button"
                    hx-post="/admin/profiles"
                    hx-target="#view-panel"
                    hx-include="#form-group *">
                    Submit
                </cds-button>
            </cds-stack>
        </cds-form-group>
    </cds-tile>
</cds-content>