<th:block th:fragment="relation-add">
    <cds-modal id="modal-container" size="md">
        <cds-modal-header>
            <cds-modal-close-button></cds-modal-close-button>
            <cds-modal-label>Add new Relation</cds-modal-label>
            <cds-modal-heading>Relation</cds-modal-heading>
        </cds-modal-header>
        <cds-modal-body>
            <!--<cds-modal-body-content description>
                Add a new relation to the profile
            </cds-modal-body-content>-->
            <cds-form-item>
                <cds-dropdown name="sourceId"
                              size="lg"
                              helper-text=""
                              title-text="From"
                              label="From">
                    <cds-dropdown-item value="">
                        Profile
                    </cds-dropdown-item>
                    <cds-dropdown-item th:each="source : ${sources}" th:value="${source.id}">
                        <span th:text="${source.name}"></span>
                    </cds-dropdown-item>
                </cds-dropdown>
            </cds-form-item>
            <cds-form-item>
                <cds-dropdown name="searchId"
                              size="lg"
                              helper-text=""
                              title-text="Search"
                              label="Search">
                    <cds-dropdown-item th:each="search : ${searches}" th:value="${search.id}">
                        <span th:text="${search.name}"></span>
                    </cds-dropdown-item>
                </cds-dropdown>
            </cds-form-item>
            <cds-form-item>
                <cds-text-input name="sourceToSearchMapping"
                                label="Search parameter Mapping"
                                placeholder="e.g. {'bsn': '.burgerservicenummer'}"></cds-text-input>
            </cds-form-item>
            <cds-form-item>
                <cds-textarea name="transform"
                              label="Transform"
                              placeholder="A valid JQ expression"></cds-textarea>
            </cds-form-item>
            <input type="hidden" name="profileId" th:value="${profileId}"/>
        </cds-modal-body>
        <cds-modal-footer>
            <cds-modal-footer-button
                kind="secondary"
                hx-on:click="document.querySelector('cds-modal')?.toggleAttribute('open');">
                Cancel
            </cds-modal-footer-button>
            <cds-modal-footer-button
                hx-post="/admin/relations"
                hx-include="#modal-container *"
                hx-target="#relations"
                hx-swap="outerHTML"
                hx-on::after-request="document.querySelector('cds-modal')?.toggleAttribute('open');">
                Add
            </cds-modal-footer-button>
        </cds-modal-footer>
    </cds-modal>
</th:block>
