<th:block th:fragment="relations">
    <cds-table-body id="relations" hx-swap-oob="true">
        <cds-table-row th:each="relation : ${relations}"
                       th:attr="hx-get=@{'/admin/profiles/' + ${relation.profileId} + '/relations/edit/' + ${relation.id}},
                                 hx-target='#modal-container',
                                 hx-swap='innerHTML',
                                 hx-push-url='false'">
            <cds-table-cell th:text="${relation.id}"></cds-table-cell>
            <cds-table-cell th:text="${relation.sourceToSearchMapping}"></cds-table-cell>
            <cds-table-cell th:text="${relation.searchId}"></cds-table-cell>
            <cds-table-cell th:text="${relation.transform}"></cds-table-cell>
        </cds-table-row>
    </cds-table-body>
</th:block>