services:
    postgres-test-db:
        container_name: iko-postgres-test-db
        image: 'postgres:latest'
        environment:
            - POSTGRES_DB=iko-db
            - POSTGRES_PASSWORD=secret
            - POSTGRES_USER=iko-admin
        ports:
            - "5432:5432"

    keycloak-test:
        container_name: iko-keycloak-test
        depends_on:
            - keycloak-database-test
        image: quay.io/keycloak/keycloak:24.0.1
        ports:
            - "8082:8082"
        environment:
            KEYCLOAK_ADMIN: admin
            KEYCLOAK_ADMIN_PASSWORD: admin
            KC_DB: postgres
            KC_DB_URL: jdbc:postgresql://keycloak-database-test/keycloak
            KC_DB_USERNAME: keycloak
            KC_DB_PASSWORD: keycloak
            KC_FEATURES: token-exchange,admin-fine-grained-authz
            KC_HTTP_RELATIVE_PATH: /auth
            PROXY_ADDRESS_FORWARDING: true
            KC_HTTP_ENABLED: true
            KC_HTTPS_ENABLED: false
        volumes:
            - ./imports/keycloak:/opt/keycloak/data/import
        command: "start-dev --import-realm --http-port=8082 --hostname keycloak --http-enabled=false"

    keycloak-database-test:
        image: postgres:15
        container_name: iko-keycloak-database-test
        ports:
            - "5439:5432"
        environment:
            POSTGRES_USER: keycloak
            POSTGRES_PASSWORD: keycloak
        labels:
            org.springframework.boot.ignore: true