services:
    postgres-test-db:
        container_name: iko-postgres-test-db
        image: 'postgres:latest'
        environment:
            - POSTGRES_DB=iko-db
            - POSTGRES_PASSWORD=secret
            - POSTGRES_USER=iko-admin
        ports:
            - "5432:5432"
        volumes:
            - ./src/test/resources/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql

    # Redis cache for the IKO application
    iko-redis-test:
        image: redis:8.4.0-alpine
        ports:
            - "6379:6379"
        container_name: iko-redis-test
        healthcheck:
            test: [ "CMD", "redis-cli", "ping" ]
            interval: 10s
            timeout: 5s
            retries: 3
            start_period: 5s