<cds-modal prevent-close-on-click-outside="true" size="md" open="true">
    <cds-modal-header>
        <cds-modal-close-button></cds-modal-close-button>
        <cds-modal-heading>Add Aggregated Data Profile</cds-modal-heading>
    </cds-modal-header>
    <cds-modal-body>
        <th:block th:fragment="form">
            <cds-form-group id="form-group" hx-swap-oob="true" name="form-group">
                <cds-stack gap="7">
                    <cds-text-input name="name"
                                    label="Name"
                                    size="lg"
                                    th:attr="
                            invalid=${errors?.getFieldError('name') != null} ? 'true' : null,
                            invalid-text=${errors?.getFieldError('name')?.defaultMessage},
                            value=${form?.name}
                          ">
                    </cds-text-input>
                    <div class="form-row">
                        <div class="form-col">
                            <cds-select label-text="Select an connector instance"
                                        size="lg"
                                        name="connectorInstanceId"
                                        hx-get="/admin/aggregated-data-profiles/create/endpoints"
                                        hx-trigger="cds-select-selected"
                                        hx-target="#formEndpoints">
                            <cds-select-item th:each="instance: ${connectorInstances}" th:value="${instance.id}">
                                (<span th:text="${instance.connector.name}"></span>)
                                <span th:text="${instance.name}"></span>
                            </cds-select-item>
                        </cds-select>
                        </div>
                        <div class="form-col">
                            <div id="formEndpoints" th:fragment="connectorEndpoints">
                                <cds-select label-text="Select an connector endpoint"
                                            size="lg"
                                            name="connectorEndpointId">
                                    <cds-select-item th:each="endpoint: ${connectorEndpoints}" th:value="${endpoint.id}">
                                        <span th:text="${endpoint.name}"></span>
                                    </cds-select-item>
                                </cds-select>
                            </div>
                        </div>
                    </div>
                    <!-- Add Aggregated Data Profile form -->
                    <cds-text-input name="role"
                                    label="Role"
                                    size="lg"
                                    th:attr="
            invalid=${errors?.getFieldError('role') != null} ? 'true' : null,
            invalid-text=${errors?.getFieldError('role')?.defaultMessage},
            value=${form?.role}">
                    </cds-text-input>
                    <cds-textarea id="transform"
                                  name="transform"
                                  label="Transform"
                                  helper-text="A valid JQ expression learn at https://jqlang.org/tutorial/"
                                  placeholder="e.g.: { a: .left, b: .right }"
                                  th:attr="
                            invalid=${errors?.getFieldError('transform') != null} ? 'true' : null,
                            invalid-text=${errors?.getFieldError('transform')?.defaultMessage},
                            value=${form?.transform}
                          ">
                    </cds-textarea>
                </cds-stack>
            </cds-form-group>
        </th:block>
    </cds-modal-body>
    <cds-modal-footer>
        <cds-modal-footer-button
            data-modal-close=""
            type="button"
            kind="secondary">
            Cancel
        </cds-modal-footer-button>
        <cds-modal-footer-button
            type="submit"
            hx-post="/admin/aggregated-data-profiles"
            hx-target="#view-panel"
            hx-swap="innerHTML"
            hx-include="#form-group *">
            Save
        </cds-modal-footer-button>
    </cds-modal-footer>
</cds-modal>