<!DOCTYPE html>
<html layout:decorate="~{layout-internal.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<body>
<!-- /* Content of this page will be decorated by the elements of layout-internal.html */ -->
<div layout:fragment="view-panel-content" th:fragment="view-panel-content">
    <th:block th:fragment="adp-detail-page">
        <div th:replace="~{layout-internal :: breadcrumb (${ {{'aggregated-data-profiles', '/admin/aggregated-data-profiles'}} })}"></div>
        <div th:replace="~{layout-internal :: page-header (title=${aggregatedDataProfile.name})}"></div>
        <cds-tabs value="general" type="contained">
            <cds-tab id="tab-general" target="panel-general" value="general">General</cds-tab>
            <cds-tab id="tab-relations" target="panel-relations" value="relations">Relations</cds-tab>
            <cds-tab id="tab-preview" target="panel-preview" value="preview">Preview</cds-tab>
        </cds-tabs>

        <div id="panel-general" role="tabpanel" aria-labelledby="tab-general">
            <div th:replace="fragments/internal/aggregated-data-profile/edit :: profile-edit-panel"></div>
        </div>

        <div id="panel-relations" role="tabpanel" aria-labelledby="tab-relations">
            <div th:replace="fragments/internal/aggregated-data-profile/relationsPanel :: relations-panel"></div>
        </div>

        <div id="panel-preview" role="tabpanel" aria-labelledby="tab-preview">
            <div th:replace="fragments/internal/aggregated-data-profile/test :: profile-debug"></div>
        </div>
    </th:block>
</div>
</body>
</html>