<!DOCTYPE html>
<html layout:decorate="~{layout-internal.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<body>
<!-- /* Content of this page will be decorated by the elements of layout-internal.html */ -->
<div layout:fragment="view-panel-content" th:fragment="view-panel-content">
    <th:block th:fragment="adp-detail-page">
        <div th:replace="~{layout-internal :: breadcrumb (${ {{'aggregated-data-profiles', '/admin/aggregated-data-profiles'}} })}"></div>
        <div class="page-header-container">
            <div th:replace="~{layout-internal :: page-header (title=${aggregatedDataProfile.name})}"></div>
            <div>
                <cds-button kind="secondary">
                    Preview
                    <svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="16" height="16" viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"></path><path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path><title>Launch</title></svg>
                </cds-button>
            </div>
        </div>

        <cds-tabs value="general" type="contained">
            <cds-tab id="tab-general" target="panel-general" value="general">General</cds-tab>
            <cds-tab id="tab-relations" target="panel-relations" value="relations">Relations</cds-tab>
            <cds-tab id="tab-preview" target="panel-preview" value="preview">Preview</cds-tab>
        </cds-tabs>

        <div id="panel-general" role="tabpanel" aria-labelledby="tab-general">
            <div th:replace="fragments/internal/aggregated-data-profile/profileEditPanel :: profile-edit-panel"></div>
        </div>

        <div id="panel-relations" role="tabpanel" aria-labelledby="tab-relations">
            <div th:replace="fragments/internal/aggregated-data-profile/relationsPanel :: relations-panel"></div>
        </div>

        <div id="panel-preview" role="tabpanel" aria-labelledby="tab-preview">
            <div th:replace="fragments/internal/aggregated-data-profile/test :: profile-debug"></div>
        </div>
    </th:block>
</div>
</body>
</html>