<div id="profile-edit" th:fragment="profile-edit">
    <cds-content>
            <cds-form-group id="form-group" name="form-group" class="cds-theme-zone-white" data-carbon-theme="white">
                    <div class="form-grid">
                        <div class="form-column">
                            <cds-stack gap="7">
                                <input type="hidden" name="id" th:value="${form.id}"/>
                                <cds-text-input name="name"
                                                label="Name"
                                                th:attr="
                                                invalid=${errors?.getFieldError('name') != null} ? 'true' : null,
                                                invalid-text=${errors?.getFieldError('name')?.defaultMessage},
                                                value=${form?.name}">
                                </cds-text-input>

                                <div class="form-row">
                                    <div class="form-col">
                                        <cds-select label-text="Select an connector instance" size="md" name="connectorInstanceId"
                                                    th:value="${form?.connectorInstanceId}"
                                                    hx-get="/admin/aggregated-data-profiles/create/endpoints" hx-trigger="cds-select-selected"
                                                    hx-target="#formEndpoints">
                                            <cds-select-item th:each="instance: ${connectorInstances}" th:value="${instance.id}">
                                                (<span th:text="${instance.connector.name}"></span>)
                                                <span th:text="${instance.name}"></span>
                                            </cds-select-item>
                                        </cds-select>
                                    </div>
                                    <div class="form-col">
                                        <div id="formEndpoints" th:fragment="connectorEndpoints">
                                            <cds-select label-text="Select an connector endpoint" size="md" name="connectorEndpointId" th:value="${form?.connectorEndpointId}">
                                                <cds-select-item th:each="endpoint: ${connectorEndpoints}" th:value="${endpoint.id}">
                                                    <span th:text="${endpoint.name}"></span>
                                                </cds-select-item>
                                            </cds-select>
                                        </div>
                                    </div>
                                </div>

                                <!-- Add Aggregated Data Profile form -->
                                <cds-text-input name="role"
                                                label="Role"
                                                th:attr="
                                invalid=${errors?.getFieldError('role') != null} ? 'true' : null,
                                invalid-text=${errors?.getFieldError('role')?.defaultMessage},
                                value=${form?.role}">
                                </cds-text-input>
                                <cds-text-input id="testId"
                                                name="testId"
                                                label="Id for testing the ADP">
                                </cds-text-input>

                                <div style="max-width: fit-content;">
                                    <cds-button
                                        kind="secondary"
                                        hx-post="/admin/aggregated-data-profiles/test"
                                        hx-target="#profile-edit"
                                        hx-swap="outerHTML"
                                        hx-include="#form-group *, [id='testId'], [id='name']"
                                        hx-on::before-request="this.dataset.label=this.textContent; this.textContent='Testing…'; this.setAttribute('disabled','');">
                                        Test
                                    </cds-button>
                                </div>
                            </cds-stack>
                        </div>
                        <div class="form-column">
<!--                            <cds-textarea id="transform"-->
<!--                                          name="transform"-->
<!--                                          label="Transform"-->
<!--                                          helper-text="A valid JQ expression learn at https://jqlang.org/tutorial/"-->
<!--                                          placeholder="e.g.: { a: .left, b: .right }"-->
<!--                                          th:attr="-->
<!--                                            invalid=${errors?.getFieldError('transform') != null} ? 'true' : null,-->
<!--                                            invalid-text=${errors?.getFieldError('transform')?.defaultMessage},-->
<!--                                            value=${form?.transform}-->
<!--                                          ">-->
<!--                            </cds-textarea>-->

                            <cds-form-item>
                                <label for="transformCode">Transform</label>
                                <textarea id="transformCode"
                                      name="transform"
                                      th:text="${form?.transform}"
                                      hidden>
                                </textarea>

                                <!-- Monaco container -->
                                <div id="transform-editor"
                                     data-monaco
                                     data-language="yaml"
                                     data-textarea="#transformCode"
                                     th:data-initial="${form?.transform}"
                                     data-theme="lightgray-theme"
                                     class="monaco-editor-style">
                                </div>
                            </cds-form-item>
                            <div id="monaco-error" class="monaco-error"></div>
                            <span class="sub-text">A valid JQ expression learn at https://jqlang.org/tutorial/</span>


                            <cds-form-item class="form-actions">
                                <cds-button
                                    type="submit"
                                    hx-put="/admin/aggregated-data-profiles"
                                    hx-target="#profile-edit"
                                    hx-swap="outerHTML"
                                    hx-include="#profile-edit [name]"
                                    hx-on::before-request="this.dataset.label=this.textContent; this.textContent='Saving…'; this.setAttribute('disabled','');"
                                    hx-on::after-request="if(this.dataset.label){ this.textContent=this.dataset.label; this.removeAttribute('disabled'); delete this.dataset.label; }">
                                    Save
                                </cds-button>
                            </cds-form-item>
                        </div>

                    </div>

            </cds-form-group>
        </cds-content>
    </div>