<th:block th:fragment="profile-filter-results">
    <cds-table-body id="search-results">
        <cds-table-row th:each="aggregatedDataProfile : ${aggregatedDataProfiles}"
                       th:attr="hx-get=@{'/admin/aggregated-data-profiles/edit/' + ${aggregatedDataProfile.id}},
                                 hx-target='#view-panel',
                                 hx-swap='innerHTML',
                                 hx-push-url='true'">
            <cds-table-cell th:text="${aggregatedDataProfile.name}"></cds-table-cell>
        </cds-table-row>
    </cds-table-body>
</th:block>