<th:block th:fragment="relation-edit">
    <cds-modal id="active-modal" prevent-close-on-click-outside="true" size="md" th:attr="open=${errors?.hasErrors()}">
        <cds-modal-header>
            <cds-modal-close-button></cds-modal-close-button>
            <cds-modal-label>Edit Relation</cds-modal-label>
            <cds-modal-heading>Relation</cds-modal-heading>
        </cds-modal-header>
        <cds-modal-body>
            <cds-form-item>
                <cds-dropdown name="sourceId"
                              size="lg"
                              style="width: 100%"
                              helper-text=""
                              title-text="From"
                              label="Select a from"
                              th:attr="
                                invalid=${errors?.getFieldError('sourceId') != null} ? 'true' : null,
                                invalid-text=${errors?.getFieldError('sourceId')?.defaultMessage},
                                value=${form?.sourceId}">
                    <cds-dropdown-item value="">
                         Root source
                    </cds-dropdown-item>
                    <cds-dropdown-item th:each="source : ${sources}"
                                       th:value="${source.id}">
                        <span th:text="'Relation (' +${source.name} +')'"></span>
                    </cds-dropdown-item>
                </cds-dropdown>
            </cds-form-item>
            <cds-form-item>
                <cds-dropdown name="endpointId"
                              size="lg"
                              style="width: 100%"
                              helper-text=""
                              title-text="Endpoint"
                              label="Select a endpoint"
                              th:attr="invalid=${errors?.getFieldError('endpointId') != null} ? 'true' : null,
                                invalid-text=${errors?.getFieldError('endpointId')?.defaultMessage},
                                value=${form?.endpointId}">
                    <cds-dropdown-item th:each="endpoint : ${endpoints}"
                                       th:value="${endpoint.id}"
                                       th:attr="disabled=${!endpoint.isActive}">
                        <span th:text="${endpoint.name}"></span>
                    </cds-dropdown-item>
                </cds-dropdown>
            </cds-form-item>
            <cds-form-item>
                <cds-textarea name="sourceToEndpointMapping"
                              label="Endpoint parameter Mapping"
                              placeholder="e.g. {'searchParamA': '.myField'}"
                              th:attr="invalid=${errors?.getFieldError('sourceToEndpointMapping') != null} ? 'true' : null,
                                invalid-text=${errors?.getFieldError('sourceToEndpointMapping')?.defaultMessage},
                                value=${form?.sourceToEndpointMapping}">
                </cds-textarea>
            </cds-form-item>
            <cds-form-item>
                <cds-textarea name="transform"
                              label="Transform"
                              helper-text="A valid JQ expression learn at https://jqlang.org/tutorial/"
                              placeholder="e.g. {'fieldA': '.fieldB'}"
                              th:attr="invalid=${errors?.getFieldError('transform') != null} ? 'true' : null,
                                invalid-text=${errors?.getFieldError('transform')?.defaultMessage},
                                value=${form?.transform}">
                </cds-textarea>
            </cds-form-item>
            <input type="hidden" name="aggregatedDataProfileId" th:value="${form.aggregatedDataProfileId}"/>
            <input type="hidden" name="id" th:value="${form.id}"/>
        </cds-modal-body>
        <cds-modal-footer>
            <cds-modal-footer-button
                kind="secondary"
                hx-on:click="document.querySelector('cds-modal')?.toggleAttribute('open');">
                Cancel
            </cds-modal-footer-button>
            <cds-modal-footer-button
                hx-put="/admin/relations"
                hx-include="#active-modal *"
                hx-target="#active-modal"
                hx-swap="outerHTML">
                Save
            </cds-modal-footer-button>
        </cds-modal-footer>
    </cds-modal>
</th:block>
