spring:
    application:
        name: IKO
    thymeleaf: # Thymeleaf
        cache: false
        mode: HTML
        encoding: UTF-8
        prefix: classpath:/templates/
    mvc:
        static-path-pattern: /assets/**
    web:
        resources:
            static-locations: classpath:/static/
            cache:
                period: 0
    jackson:
        date-format: yyyy-MM-dd'T'HH:mm:ss.SSS'Z'
        time-zone: UTC
    transaction:
        default-timeout: 600 #seconds = 10min
    datasource:
        type: com.zaxxer.hikari.HikariDataSource
        #driver-class-name: com.mysql.cj.jdbc.Driver
        password: #external
        hikari:
            auto-commit: false
            data-source-properties:
                cachePrepStmts: true
                prepStmtCacheSize: 500
                prepStmtCacheSqlLimit: 2048
                useServerPrepStmts: true
                characterEncoding: utf8
                useUnicode: true
                useLegacyDatetimeCode: false
                useSSL: false
                useLocalSessionState: true
                rewriteBatchedStatements: true
                cacheResultSetMetadata: true
                cacheServerConfiguration: true
                elideSetAutoCommits: true
                maintainTimeStats: false
                serverTimezone: UTC
                allowPublicKeyRetrieval: true
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        show_sql: false
        open-in-view: false
        properties:
            hibernate:
                hbm2ddl.auto: none
                generate_statistics: false
                naming-strategy: org.springframework.boot.orm.jpa.hibernate.SpringNamingStrategy
                cache:
                    use_second_level_cache: false
                    use_query_cache: false
                    region.factory_class: org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory
                format_sql: true
                jdbc:
                    time_zone: UTC
                connection:
                    provider_disables_autocommit: true
        hibernate:
            ddl-auto: none
    security:
        oauth2:
            client:
                registration:
                    keycloak:
                        provider: keycloak
                        authorization-grant-type: authorization_code
                        scope: openid
                        client-id: # ENV
                        client-secret: # ENV
                provider:
                    keycloak:
                        issuer-uri: # ENV
            resourceserver:
                jwt:
                    issuer-uri: # ENV
                    audiences: iko
                    authority-prefix:
                    authorities-claim-name: "[resource_access][iko][roles]"

management:
    endpoints:
        web:
            exposure:
                include: "health,info,prometheus"
            base-path: /actuator
    endpoint:
        health:
            show-details: when_authorized
        prometheus:
            enabled: true

info:
    app:
        description: "Integraal Klant & Objectbeeld (IKO)"

camel:
    yaml:
        routes:
            enabled: true
            paths: classpath:camel/*.yaml
    trace:
        enabled: true
        backlog-size: 1000
        remove-on-dump: true
        trace-pattern: "*"
