<th:block th:fragment="search-list">
    <cds-content>
        <cds-tile>
            <cds-breadcrumb no-trailing-slash="">
                <cds-breadcrumb-item>
                    <cds-breadcrumb-link visited="true">
                        Home
                    </cds-breadcrumb-link>
                </cds-breadcrumb-item>
                <cds-breadcrumb-item>
                    <cds-breadcrumb-link
                        href="javascript:void(0);"
                        hx-get="/admin/searches"
                        hx-target="#view-panel"
                        is-currentpage="true"
                        hx-push-url="true">
                        Searches
                    </cds-breadcrumb-link>
                </cds-breadcrumb-item>
            </cds-breadcrumb>

            <!-- Data table -->
            <cds-table>
                <cds-table-header-title slot="title">Searches</cds-table-header-title>
                <cds-table-header-description slot="description">Overview of all searches</cds-table-header-description>
                <!-- Toolbar + search -->
                <cds-table-toolbar slot="toolbar">
                    <cds-table-toolbar-content>
                        <cds-table-toolbar-search
                            id="search-bar"
                            placeholder="Type to search..."
                            th:value="${query}"
                            th:expanded="${query} ?: 'true'"
                            name="query"
                            size="lg"
                            hx-get="/admin/searches/filter"
                            hx-params="*"
                            hx-trigger="input delay:600ms, keyup[key=='Enter']"
                            hx-target="#search-filter-results"
                            hx-swap="outerHTML"
                            hx-push-url="true">
                        </cds-table-toolbar-search>
                    </cds-table-toolbar-content>
                </cds-table-toolbar>

                <!-- Header -->
                <cds-table-head>
                    <cds-table-header-row>
                        <cds-table-header-cell>
                            Active
                        </cds-table-header-cell>
                        <cds-table-header-cell
                            is-sortable
                            size="md"
                            hx-get="/admin/searches/filter"
                            hx-target="#search-filter-results"
                            hx-swap="outerHTML"
                            hx-push-url="false"
                            hx-trigger="cds-table-header-cell-sort"
                            hx-on:cds-table-header-cell-sort="console.log('sort event', event, ({ none: '', ascending: 'asc', descending: 'desc' }[event.detail.sortDirection] ?? ''))"
                            hx-vals="js:{
                            sort: 'name,' + ({ none: '', ascending: 'ASC', descending: 'DESC' }[event.detail.sortDirection] ?? ''),
                            size: document.querySelector('#search-pagination-container').__pageSize,
                            page: document.querySelector('#search-pagination-container').__page - 1,
                            query: document.querySelector('#search-bar').value
                            }">
                            Name
                        </cds-table-header-cell>
                        <cds-table-header-cell>
                            Primary
                        </cds-table-header-cell>
                        <cds-table-header-cell>
                            Operation
                        </cds-table-header-cell>
                        <cds-table-header-cell
                            is-sortable
                            size="md"
                            hx-get="/admin/searches/filter"
                            hx-target="#search-filter-results"
                            hx-swap="outerHTML"
                            hx-push-url="false"
                            hx-trigger="cds-table-header-cell-sort"
                            hx-on:cds-table-header-cell-sort="console.log('sort event', event, ({ none: '', ascending: 'asc', descending: 'desc' }[event.detail.sortDirection] ?? ''))"
                            hx-vals="js:{
                            sort: 'createdOn,' + ({ none: '', ascending: 'ASC', descending: 'DESC' }[event.detail.sortDirection] ?? ''),
                            size: document.querySelector('#search-pagination-container').__pageSize,
                            page: document.querySelector('#search-pagination-container').__page - 1,
                            query: document.querySelector('#search-bar').value
                            }">
                            Created on
                        </cds-table-header-cell>
                        <cds-table-header-cell
                            is-sortable
                            size="md"
                            hx-get="/admin/searches/filter"
                            hx-target="#search-filter-results"
                            hx-swap="outerHTML"
                            hx-push-url="false"
                            hx-trigger="cds-table-header-cell-sort"
                            hx-on:cds-table-header-cell-sort="console.log('sort event', event, ({ none: '', ascending: 'asc', descending: 'desc' }[event.detail.sortDirection] ?? ''))"
                            hx-vals="js:{
                            sort: 'modifiedOn,' + ({ none: '', ascending: 'ASC', descending: 'DESC' }[event.detail.sortDirection] ?? ''),
                            size: document.querySelector('#search-pagination-container').__pageSize,
                            page: document.querySelector('#search-pagination-container').__page - 1,
                            query: document.querySelector('#search-bar').value
                            }">
                            Modified On
                        </cds-table-header-cell>
                    </cds-table-header-row>
                </cds-table-head>

                <th:block th:insert="~{fragments/internal/search/searchFilterResults :: search-filter-results}"></th:block>
            </cds-table>
            <!-- Pagination -->
            <cds-pagination id="search-pagination-container"
                            th:replace="~{fragments/internal/search/searchPagination :: searchPagination}">
            </cds-pagination>
        </cds-tile>
    </cds-content>
</th:block>
