<div th:fragment="menu">
    <cds-side-nav-items>
        <cds-side-nav-menu title="Endpoints">
            <cds-side-nav-menu-item
                th:each="endpoint : ${endpoints}"
                th:attr="hx-get='/endpoint/' + ${endpoint.name}"
                th:text="${endpoint.name}"
                hx-swap="innerHTML"
                hx-transition="true"
                hx-target="#view-panel"
                hx-push-url="false"
                href="javascript:void(0);">
            </cds-side-nav-menu-item>
        </cds-side-nav-menu>
    </cds-side-nav-items>
</div>