<!DOCTYPE html>
<html layout:decorate="~{layout-internal.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!-- /* Content of this page will be decorated by the elements of layout-internal.html */ -->
<div layout:fragment="view-panel-content">
    <th:block th:fragment="create">
        <cds-content>
            <cds-tile>
                <cds-breadcrumb no-trailing-slash="">
                    <cds-breadcrumb-item>
                        <cds-breadcrumb-link visited="true">
                            Home
                        </cds-breadcrumb-link>
                    </cds-breadcrumb-item>
                    <cds-breadcrumb-item>
                        <cds-breadcrumb-link
                            href="javascript:void(0);"
                            hx-get="/admin/connectors"
                            hx-target="#view-panel"
                            is-currentpage="true"
                            hx-push-url="true">
                            Connectors
                        </cds-breadcrumb-link>
                    </cds-breadcrumb-item>
                </cds-breadcrumb>
                <div>
                    <h2>Create Connector</h2>
                </div>
                <cds-stack gap="8">
                    <form>
                        <cds-form-group id="form-group" name="form-group" legend-text="Add Aggregated Data Profile">
                            <cds-text-input name="name"
                                            style="width: 50%"
                                            label="Name"
                            >
                            </cds-text-input>
                            <cds-text-input name="description"
                                            style="width: 50%"
                                            label="Description"
                            ></cds-text-input>
                            <cds-text-input name="reference"
                                            style="width: 50%"
                                            label="Reference"
                            >
                            </cds-text-input>
                            <cds-form-item>
                                <cds-textarea enable-counter="" counter-mode=""
                                              label="Code"
                                              placeholder="" rows="16" cols="0"
                                              name="connectorCode"

                                >
                                </cds-textarea>
                            </cds-form-item>
                        </cds-form-group>

                        <cds-button
                            kind="primary"
                            hx-post="/admin/connectors"
                            hx-target="#view-panel">
                            <div th:if="${created}">Created</div>
                            <div th:if="${!created}">Create</div>
                        </cds-button>
                        <cds-button
                            kind="primary"
                            hx-push-url="true"
                            th:hx-get="@{|/admin/connectors|}"
                            hx-target="#view-panel">
                            <div>Back</div>
                        </cds-button>
                    </form>
                </cds-stack>

            </cds-tile>
        </cds-content>
    </th:block>
</div>
</body>
</html>
