
<th:block th:fragment="connector-details">
    <cds-content>
        <cds-tile>
            <cds-breadcrumb no-trailing-slash="">
                <cds-breadcrumb-item>
                    <cds-breadcrumb-link visited="true">
                        Home
                    </cds-breadcrumb-link>
                </cds-breadcrumb-item>
                <cds-breadcrumb-item>
                    <cds-breadcrumb-link
                        href="javascript:void(0);"
                        hx-get="/admin/connectors"
                        hx-target="#view-panel"
                        is-currentpage="true"
                        hx-push-url="true">
                        Connectors
                    </cds-breadcrumb-link>
                </cds-breadcrumb-item>
            </cds-breadcrumb>


            <div th:if="${connector != null}">
                <h2 th:text="${connector.name}">Connector</h2>
                <p th:text="${connector.description}">Description</p>
                <!-- Additional configuration options could be placed here, for example fields bound to
                     Spring forms to update API keys, hosts or specification URIs.  For now this is
                     a placeholder. -->
            </div>
        </cds-tile>
    </cds-content>
</th:block>