<!DOCTYPE html>
<html layout:decorate="~{layout-internal.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!-- /* Content of this page will be decorated by the elements of layout-internal.html */ -->
<div layout:fragment="view-panel-content">
    <th:block th:fragment="details">
        <div
            th:replace="~{layout-internal :: breadcrumb (${ {
                {'Connectors', '/admin/connectors'},
                { connector.name, '/admin/connectors/' + connector.id },
                { instance.name, '/admin/connectors/' + connector.id + '/instances/' + instance.id }
                }})}"></div>
        <div
            th:replace="~{layout-internal :: page-header (pageName='Connector Instance', title=|${connector.name} - ${instance.name}|, subtext=${instance.tag})}"></div>

        <cds-tabs value="config" type="contained" class="cds--tabs cds--tabs--contained">
            <cds-tab id="tab-config" target="panel-config" value="config">Config</cds-tab>
            <cds-tab id="tab-roles" target="panel-roles" value="roles" selected="">
                Roles
            </cds-tab>
        </cds-tabs>

        <div id="panel-config" role="tabpanel" class="cds--tab-content cds--tab-content--interactive" aria-labelledby="tab-config">
            <cds-table id="config-table" th:fragment="config-table">
                <cds-table-header-title slot="title">Config</cds-table-header-title>
                <cds-table-header-description slot="description">
                    Overview of all config properties
                </cds-table-header-description>
                <cds-table-toolbar slot="toolbar">
                    <cds-table-toolbar-content>
                        <cds-button
                            th:hx-get="@{|/admin/connectors/${connector.id}/instances/${connectorInstance.id}/config|}"
                            hx-target="#modal-container"
                            kind="primary">
                            Add config
                            <svg
                                focusable="false"
                                preserveAspectRatio="xMidYMid meet"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                aria-hidden="true"
                                width="16"
                                height="16"
                                viewBox="0 0 32 32"
                                slot="icon">
                                <path
                                    d="M17 15L17 8 15 8 15 15 8 15 8 17 15 17 15 24 17 24 17 17 24 17 24 15z"></path>
                            </svg>
                        </cds-button>
                    </cds-table-toolbar-content>
                </cds-table-toolbar>
                <!-- Header -->
                <cds-table-head>
                    <cds-table-header-row>
                        <cds-table-header-cell>
                            Name
                        </cds-table-header-cell>
                        <cds-table-header-cell>
                            Value
                        </cds-table-header-cell>

                        <cds-table-header-cell>
                        </cds-table-header-cell>
                    </cds-table-header-row>
                </cds-table-head>
                <cds-table-body id="endpoints">
                    <cds-table-row th:each="config: ${connectorInstance.config}">
                        <cds-table-cell th:text="${config.key}"></cds-table-cell>
                        <cds-table-cell>
                            <cds-text-input name="value"
                                            type="password"
                                            readonly
                                            hide-label
                                            size="sm"
                                            show-password-visibility-toggle="true"
                                            th:value="${config?.value}">
                            </cds-text-input>
                        </cds-table-cell>

                        <cds-table-cell class="app--table-cell-actions">
                            <cds-button kind="ghost"
                                        hx-confirm="Are you sure you want to delete this config?"
                                        th:hx-delete="@{|/admin/connectors/${connector.id}/instances/${connectorInstance.id}/config/${config.key}|}"
                                        hx-swap="outerHTML"
                                        hx-target="#config-table">
                                Delete
                                <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true"
                                     width="16" height="16" viewBox="0 0 32 32" slot="icon"
                                     class="cds--btn__icon">
                                    <path d="M12 12H14V24H12zM18 12H20V24H18z"></path>
                                    <path
                                        d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12 2H20V4H12z"></path>
                                </svg>
                            </cds-button>
                        </cds-table-cell>
                    </cds-table-row>
                </cds-table-body>
            </cds-table>
        </div>

        <div id="panel-roles" role="tabpanel" class="cds--tab-content cds--tab-content--interactive" aria-labelledby="tab-roles">
            <cds-table id="roles-table" th:fragment="roles-table">
                <cds-table-header-title slot="title">Roles</cds-table-header-title>
                <cds-table-header-description slot="description">Overview of all roles for this connector
                    instance
                </cds-table-header-description>
                <cds-table-toolbar slot="toolbar">
                    <cds-table-toolbar-content>
                        <cds-button
                            th:hx-get="@{|/admin/connectors/${connector.id}/instances/${connectorInstance.id}/roles|}"
                            hx-target="#modal-container"
                            kind="primary"
                        >
                            Add role
                            <svg
                                focusable="false"
                                preserveAspectRatio="xMidYMid meet"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                aria-hidden="true"
                                width="16"
                                height="16"
                                viewBox="0 0 32 32"
                                slot="icon">
                                <path
                                    d="M17 15L17 8 15 8 15 15 8 15 8 17 15 17 15 24 17 24 17 17 24 17 24 15z"></path>
                            </svg>
                        </cds-button>
                    </cds-table-toolbar-content>
                </cds-table-toolbar>
                <!-- Header -->
                <cds-table-head>
                    <cds-table-header-row>
                        <cds-table-header-cell>Endpoint
                        </cds-table-header-cell>
                        <cds-table-header-cell>
                            Role
                        </cds-table-header-cell>
                        <cds-table-header-cell></cds-table-header-cell>
                    </cds-table-header-row>
                </cds-table-head>
                <cds-table-body id="endpoints">
                    <cds-table-row th:each="role: ${connectorRoles}"
                                   th:hx-get="@{|/admin/connectors/${connector.id}/instances/${connectorInstance.id}/roles/${role.id}|}"
                                   hx-target="#view-panel"
                                   kind="primary"
                    >
                        <cds-table-cell th:text="${role.connectorEndpoint.name}"></cds-table-cell>
                        <cds-table-cell th:text="${role.role}"></cds-table-cell>
                        <cds-table-cell class="app--table-cell-actions">
                            <cds-button kind="ghost"
                                        hx-confirm="Are you sure you want to delete this role?"
                                        th:hx-delete="@{|/admin/connectors/${connector.id}/instances/${connectorInstance.id}/roles/${role.id}|}"
                                        hx-swap="outerHTML"
                                        hx-target="#roles-table">
                                Delete
                                <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true"
                                     width="16" height="16" viewBox="0 0 32 32" slot="icon"
                                     class="cds--btn__icon">
                                    <path d="M12 12H14V24H12zM18 12H20V24H18z"></path>
                                    <path
                                        d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12 2H20V4H12z"></path>
                                </svg>
                            </cds-button>
                        </cds-table-cell>
                    </cds-table-row>
                </cds-table-body>
            </cds-table>
        </div>
    </th:block>
</div>


</body>
</html>
