<!DOCTYPE html>
<html layout:decorate="~{layout-internal.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!-- /* Content of this page will be decorated by the elements of layout-internal.html */ -->
<div layout:fragment="view-panel-content">
    <th:block th:fragment="edit">
        <cds-content>
            <cds-tile>
                <cds-breadcrumb no-trailing-slash="">
                    <cds-breadcrumb-item>
                        <cds-breadcrumb-link visited="true">
                            Home
                        </cds-breadcrumb-link>
                    </cds-breadcrumb-item>
                    <cds-breadcrumb-item>
                        <cds-breadcrumb-link
                            href="javascript:void(0);"
                            hx-get="/admin/connectors"
                            hx-target="#view-panel"
                            is-currentpage="true"
                            hx-push-url="true">
                            Connectors
                        </cds-breadcrumb-link>
                    </cds-breadcrumb-item>
                </cds-breadcrumb>
                <div>
                    <h2 th:text="${connector.name}">Connector</h2>
                    <p th:text="${connector.description}">Description</p>
                    <!-- Additional configuration options could be placed here, for example fields bound to
                         Spring forms to update API keys, hosts or specification URIs.  For now this is
                         a placeholder. -->
                </div>
                <cds-stack gap="8">
                    <form>
                        <cds-form-group id="form-group" name="form-group" legend-text="Add Aggregated Data Profile">
                            <cds-text-input name="name"
                                            style="width: 50%"
                                            label="Name"
                                            th:attr="
                                    value=${form?.name}">
                            </cds-text-input>
                            <cds-text-input name="description"
                                            style="width: 50%"
                                            label="Description"
                                            th:attr="
                                    value=${form?.description}"></cds-text-input>
                            <cds-text-input name="reference"
                                            style="width: 50%"
                                            label="Reference"
                                            th:attr="
                                    value=${form?.reference}">
                            </cds-text-input>
                            <cds-form-item>
                                <cds-textarea enable-counter="" counter-mode=""
                                              label="Code"
                                              placeholder="" rows="16" cols="0"
                                              name="connectorCode"
                                              th:attr="
                                    value=${form?.connectorCode}"
                                >
                                </cds-textarea>
                            </cds-form-item>
                        </cds-form-group>

                        <cds-button
                            kind="primary"
                            hx-put=""
                            hx-target="#view-panel">
                            <div th:if="${saved}">Saved</div>
                            <div th:if="${!saved}">Save</div>
                        </cds-button>
                        <cds-button
                            kind="primary"
                            th:hx-get="@{|/admin/connectors/${connector.id}|}"
                            hx-target="#view-panel">
                            <div>Back</div>
                        </cds-button>
                    </form>
                </cds-stack>

            </cds-tile>
        </cds-content>
    </th:block>
</div>
</body>
</html>
