<cds-modal prevent-close-on-click-outside="true" size="md" open="true">
    <cds-modal-header>
        <cds-modal-close-button></cds-modal-close-button>
        <cds-modal-label>Edit connector code</cds-modal-label>
        <cds-modal-heading>Connector Code</cds-modal-heading>
    </cds-modal-header>
    <cds-modal-body>
        <cds-stack gap="8">
            <th:block th:fragment="form">
                <cds-form-group id="form-group" name="form-group">
                    <cds-form-item>
                        <cds-textarea enable-counter="" counter-mode=""
                                      label="Code"
                                      placeholder="" rows="16" cols="0"
                                      name="connectorCode"
                                      th:attr="
                                        value=${connector?.connectorCode},
                                        invalid=${errors?.getFieldError('connectorCode') != null} ? 'true' : null,
                                        invalid-text=${errors?.getFieldError('connectorCode')?.defaultMessage}
                                      "
                        >
                        </cds-textarea>
                    </cds-form-item>
                </cds-form-group>
            </th:block>
        </cds-stack>
    </cds-modal-body>
    <cds-modal-footer>
        <cds-modal-footer-button
            data-modal-close=""
            type="button"
            kind="secondary">
            Cancel
        </cds-modal-footer-button>
        <cds-modal-footer-button
            type="submit"
            th:hx-put="@{|/admin/connectors/${connector.id}|}"
            hx-target="#form-group"
            hx-include="#form-group *"
        >
            Save
        </cds-modal-footer-button>
    </cds-modal-footer>
</cds-modal>