<cds-modal prevent-close-on-click-outside="true" size="md" open="true">
    <cds-modal-header>
        <cds-modal-close-button></cds-modal-close-button>
        <cds-modal-label>Add new connector instance role</cds-modal-label>
        <cds-modal-heading>Connector Instance Role</cds-modal-heading>
    </cds-modal-header>
    <cds-modal-body>
            <th:block th:fragment="form">
                <cds-form-group id="form-group" name="form-group">
                    <cds-stack gap="7">
                        <cds-text-input name="role"
                                        size="lg"
                                        th:value="${role?.role}"
                                        th:attr="
                                        invalid=${errors?.getFieldError('role') != null} ? 'true' : null,
                                        invalid-text=${errors?.getFieldError('role')?.defaultMessage}
                                        "
                                        label="Role"
                        >
                        </cds-text-input>
                        <cds-select helper-text="Choose which endpoint you want to map to this role."
                                    th:value="${role?.endpointId}"
                                    th:attr="
                                        invalid=${errors?.getFieldError('endpointId') != null} ? 'true' : null,
                                        invalid-text=${errors?.getFieldError('endpointId')?.defaultMessage}
                                        "
                                    label-text="Endpoint" placeholder="" size="lg" warn-text="Warning message"
                                    name="endpointId">
                            <cds-select-item th:each="endpoint: ${connectorEndpoints}" th:value="${endpoint.id}"><span
                                th:text="${endpoint.name}"></span></cds-select-item>
                        </cds-select>
                    </cds-stack>
                </cds-form-group>
            </th:block>
    </cds-modal-body>
    <cds-modal-footer>
        <cds-modal-footer-button
            data-modal-close=""
            type="button"
            kind="secondary">
            Cancel
        </cds-modal-footer-button>
        <cds-modal-footer-button
            type="submit"
            th:hx-post="@{|/admin/connectors/${connector.id}/instances/${connectorInstance.id}/roles|}"
            hx-target="#form-group"
            hx-include="#form-group *"
        >
            Save
        </cds-modal-footer-button>
    </cds-modal-footer>
</cds-modal>