<cds-modal prevent-close-on-click-outside="true" size="md" open="true">
    <cds-modal-header>
        <cds-modal-close-button></cds-modal-close-button>
        <cds-modal-label>Edit connector code</cds-modal-label>
        <cds-modal-heading>Connector Code</cds-modal-heading>
    </cds-modal-header>

    <cds-modal-body>
        <cds-stack gap="8">
            <th:block th:fragment="form">
                <cds-form-group id="form-group" name="form-group">
                        <cds-form-item>
                            <textarea id="connectorCode"
                                      name="connectorCode"
                                      th:text="${connector?.connectorCode}"
                                      hidden></textarea>

                            <!-- Monaco container -->
                            <div id="connector-editor"
                                 data-monaco
                                 data-language="yaml"
                                 data-textarea="#connectorCode"
                                 th:data-initial="${connector.connectorCode}"
                                 class="monaco-editor-style">
                            </div>
                        </cds-form-item>
                        <div id="monaco-error" class="monaco-error"></div>
                </cds-form-group>
            </th:block>
        </cds-stack>
    </cds-modal-body>

    <cds-modal-footer>
        <cds-modal-footer-button data-modal-close type="button" kind="secondary">
            Cancel
        </cds-modal-footer-button>

        <cds-modal-footer-button
            type="submit"
            th:hx-put="@{|/admin/connectors/${connector.id}|}"
            hx-include="#form-group *"
            hx-target="this"
            hx-select="#connector-code"
            hx-swap="none"
            data-editor-selector="#connector-editor"
        >
            Save
        </cds-modal-footer-button>
    </cds-modal-footer>
</cds-modal>