<th:block th:fragment="connector-list">
    <cds-content>
        <cds-tile>
            <cds-breadcrumb no-trailing-slash="">
                <cds-breadcrumb-item>
                    <cds-breadcrumb-link visited="true">
                        Home
                    </cds-breadcrumb-link>
                </cds-breadcrumb-item>
                <cds-breadcrumb-item>
                    <cds-breadcrumb-link
                        href="javascript:void(0);"
                        hx-get="/admin/connectors"
                        hx-target="#view-panel"
                        is-currentpage="true"
                        hx-push-url="true">
                        Connectors
                    </cds-breadcrumb-link>
                </cds-breadcrumb-item>
            </cds-breadcrumb>

            <!-- Data table -->
            <cds-table id="profile-table">
                <cds-table-header-title slot="title">Connectors</cds-table-header-title>
                <cds-table-header-description slot="description">Overview of all connectors
                </cds-table-header-description>
                <cds-table-toolbar slot="toolbar">
                    <cds-table-toolbar-content>
                        <cds-button
                            hx-get="/admin/connectors/create"
                            hx-target="#view-panel"
                            kind="primary">
                            Add connector
                            <svg
                                focusable="false"
                                preserveAspectRatio="xMidYMid meet"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                aria-hidden="true"
                                width="16"
                                height="16"
                                viewBox="0 0 32 32"
                                slot="icon">
                                <path d="M17 15L17 8 15 8 15 15 8 15 8 17 15 17 15 24 17 24 17 17 24 17 24 15z"></path>
                            </svg>
                        </cds-button>
                    </cds-table-toolbar-content>
                </cds-table-toolbar>
                <!-- Header -->
                <cds-table-head>
                    <cds-table-header-row>
                        <cds-table-header-cell>
                            Name
                        </cds-table-header-cell>
                        <cds-table-header-cell>
                            Description
                        </cds-table-header-cell>
                        <cds-table-header-cell>
                            Reference
                        </cds-table-header-cell>
                    </cds-table-header-row>
                </cds-table-head>
                <cds-table-body id="search-results">
                    <cds-table-row th:each="connector : ${connectors}"
                                   th:href="@{|/admin/connectors/${connector.id}|}"
                                   th:hx-get="@{|/admin/connectors/${connector.id}|}"
                                   hx-target="#view-panel"
                                   hx-push-url="true"
                    >
                        <cds-table-cell th:text="${connector.name}"></cds-table-cell>
                        <cds-table-cell th:text="${connector.description}"></cds-table-cell>
                        <cds-table-cell th:text="${connector.tag}"></cds-table-cell>
                    </cds-table-row>
                </cds-table-body>
            </cds-table>
        </cds-tile>
    </cds-content>
</th:block>