/* Main layout */
body {
    margin-left: 2rem;            /* or margin-inline-start */
    padding: 0;
    padding-top: 3rem;
    transition: margin-left .11s cubic-bezier(.2, 0, 1, .9);
}

/* Wide screens */
@media (min-width: 66rem) {
    body { margin-inline-start: 16rem; }
}

/* Links as web components */
cds-link { cursor: pointer; }
cds-link::part(link) { color: var(--cds-text-primary); }

/* Actions cell */
.app--table-cell-actions {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

/* Themes */
.cds-theme-zone-g10,
.cds-theme-zone-white {
    --cds-button-primary: #2B79BD;
    --cds-button-primary-hover: #286198;
    --cds-button-primary-active: #003361;
    --cds-button-primary-disabled: #C6C6C6;
    --cds-focus: #2B79BD;
    --cds-skeleton-background: #E8E8E8;
}

.cds-theme-zone-g10 h2.cds--type-heading-03,
.cds-theme-zone-white h2.cds--type-heading-03 {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
}

/* Header */
cds-header { justify-content: space-between; }

cds-header ~ cds-side-nav {
    block-size: calc(100% - 3rem);
    margin-block-start: 3rem;
}

cds-header .header-panel { background: #ffffff; }
cds-header .header-panel cds-structured-list-cell {
    display: flex; flex-direction: column; align-items: flex-start;
}
cds-header .header-panel cds-structured-list-cell cds-tag {
    display: inline-flex; margin-top: var(--cds-spacing-03, 0.5rem);
}

cds-header cds-header-global-bar {
    display: flex; justify-content: flex-end; align-items: center; gap: 0.5rem;
}

/* Content */
main {
    padding: var(--cds-spacing-09) var(--cds-spacing-07);
    min-height: calc(100vh - 3rem);
    background-color: var(--cds-layer-02);
}
.page-title { margin-bottom: var(--cds-spacing-07); }

/* Datagrid (clickable row) */
cds-table-row { cursor: pointer; }