/* Main layout */
body {
    margin-left: 2rem;
    padding: 0;
    padding-top: 3rem;
    transition: margin-left .11s cubic-bezier(.2, 0, 1, .9);
}

/* Wide screens */
@media (min-width: 66rem) {
    body {
        margin-inline-start: 16rem;
    }
}

/* Links */
cds-link {
    cursor: pointer;
}

cds-link::part(link) {
    color: var(--cds-text-primary);
}

.cds--side-nav__link {
    cursor: pointer;
}

/* Themes And CDS */
.cds-theme-zone-g10,
.cds-theme-zone-white {
    --cds-button-primary: #2B79BD;
    --cds-button-primary-hover: #286198;
    --cds-button-primary-active: #003361;
    --cds-button-primary-disabled: #C6C6C6;
    --cds-focus: #2B79BD;
    --cds-skeleton-background: #E8E8E8;
}

.cds-theme-zone-g10 h2.cds--type-heading-03,
.cds-theme-zone-white h2.cds--type-heading-03 {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
}

/* Header */
cds-header {
    justify-content: space-between;
}

cds-header .app--table-cell-actions {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

cds-header ~ cds-side-nav {
    block-size: calc(100% - 3rem);
    margin-block-start: 3rem
}

cds-header-menu-button,
.cds--header__menu-trigger {
    display: none !important;
}

@media (min-width: 66rem) {
    body {
        margin-inline-start: 16rem
    }
}

.text-secondary {
    font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    font-size: var(--cds-body-compact-01-font-size);
    font-weight: var(--cds-body-01-font-weight);
    line-height: var(--cds-body-01-line-height);
    letter-spacing: var(--cds-body-01-letter-spacing);
    margin-block-start: 3rem;
}

cds-header .header-panel {
    background: #ffffff;
}

cds-header .header-panel cds-structured-list-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

cds-header .header-panel cds-structured-list-cell cds-tag {
    display: inline-flex;
    margin-top: var(--cds-spacing-03, 0.5rem);
}

cds-header cds-header-global-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

/* Content */
main {
    padding: var(--cds-spacing-09) var(--cds-spacing-07);
    min-height: calc(100vh - 3rem);
    background-color: var(--cds-layer-02);
}

main cds-layout .cds--tab-content {
    padding: 0px !important;
}

.page-title {
    margin-bottom: var(--cds-spacing-07);
}

/* Datagrid (clickable row) */

cds-table-row {
    cursor: pointer !important;
}

/* if you already use an actions class */
cds-table-row > .app--table-cell-actions {
    display: flex;
    flex-flow: row;
    justify-content: flex-end
}

/* Monaco Editor */

.monaco-editor {
    height: 100vh;
    width: 100%;
}