body {
    margin: 0;
    padding: 0;
}

#breadcrumb {
    margin-top: var(--cds-spacing-06);
}

main {
    display: grid;
    height: 100vh;

    cds-content {
        padding: var(--cds-spacing-09);
        display: block;
        margin-left: 257px;
    }
}


.text-secondary {
    font-family: var(--cds-body-01-font-family), serif;
    font-size: var(--cds-body-01-font-size);
    font-weight: var(--cds-body-01-font-weight);
    line-height: var(--cds-body-01-line-height);
    letter-spacing: var(--cds-body-01-letter-spacing);
}


cds-header {
    justify-content: space-between;

    .header-panel {
        background: #ffffff;
    }

    cds-header-global-bar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;

        cds-link {
            color: #000000;
        }
    }
}

cds-link {
    cursor: pointer;
}


.g10 {
    background-color: #f4f4f4;
}