<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>IKO Admin</title>

    <!-- Preconnects for faster resource loading -->
    <link href="https://unpkg.com" rel="preconnect">
    <link href="https://1.www.s81c.com" rel="preconnect">

    <!-- HTMX -->
    <script crossorigin="anonymous"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            src="https://unpkg.com/htmx.org@2.0.4"></script>

    <!-- Carbon v11 CDN stylesheet -->
    <link href="https://unpkg.com/@carbon/styles@1.81.0/css/styles.css" rel="stylesheet">
    <link href="https://1.www.s81c.com/common/carbon-for-ibm-dotcom/tag/v1/latest/plex.css" rel="stylesheet"/>
    <link href="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/grid.css" rel="stylesheet"/>
    <link href="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/themes.css" rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/yaml.min.js"></script>

    <script src="/assets/js/carbon-components-loader.js" type="module"></script>
    <link href="/assets/css/main.css" rel="stylesheet"/>

</head>
<body cds-theme="g10" class="cds-theme-zone-g10">
<cds-header class="cds--layer-01" aria-label="IBM Platform Name">
    <cds-header-menu-button
        button-label-active="Close menu"
        button-label-inactive="Open menu">
    </cds-header-menu-button>

    <cds-header-name
        href="javascript:void(0)"
        hx-get="/admin"
        hx-push-url="true"
        hx-target="#view-panel"
        prefix="IKO">
        [Platform]
    </cds-header-name>

    <div class="cds--header__global">
        <span class="text-secondary header-user-name">Randell Bakker</span>
        <cds-header-global-action
            button-label-active="Close switcher"
            button-label-inactive="Open switcher"
            panel-id="switcher-panel"
            tooltip-alignment="right"
            tooltip-text="Open switcher">
            <svg aria-hidden="true" focusable="false" height="20" slot="icon" viewBox="0 0 32 32"
                 width="20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16 4a5 5 0 11-5 5 5 5 0 015-5m0-2a7 7 0 107 7A7 7 0 0016 2zM26 30H24V25a5 5 0 00-5-5H13a5 5 0 00-5 5v5H6V25a7 7 0 017-7h6a7 7 0 017 7z"/>
            </svg>
        </cds-header-global-action>
    </div>

    <cds-header-panel class="cds--layer-01" aria-label="Header Panel" id="switcher-panel">
        <div class="right-sidebar-panel-content">
            <cds-link>Afmelden</cds-link>
        </div>
    </cds-header-panel>

</cds-header>

<!--  Left side navigation  -->
<cds-side-nav aria-label="Side navigation" collapse-mode="responsive">
    <cds-side-nav-items>
        <cds-side-nav-link href="javascript:void(0)"
                           hx-get="/admin/aggregated-data-profiles"
                           hx-on::after-request="
         document.querySelectorAll('cds-side-nav-link').forEach(e => e.removeAttribute('active'));
         this?.toggleAttribute('active');"
                           hx-push-url="true"
                           hx-target="#view-panel">
            <svg aria-hidden="true" fill="currentColor" focusable="false"
                 height="16" preserveAspectRatio="xMidYMid meet" slot="title-icon" viewBox="0 0 16 16" width="16"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M4.1 12.6l-.6.8c.6.5 1.3.9 2.1 1.2l.3-.9C5.3 13.4 4.7 13 4.1 12.6zM2.1 9l-1 .2c.1.8.4 1.6.8 2.3L2.8 11C2.4 10.4 2.2 9.7 2.1 9zM5.9 2.4L5.6 1.4C4.8 1.7 4.1 2.1 3.5 2.7l.6.8C4.7 3 5.3 2.6 5.9 2.4zM2.8 5L1.9 4.5C1.5 5.2 1.3 6 1.1 6.8l1 .2C2.2 6.3 2.5 5.6 2.8 5zM8 1v1c3.3 0 6 2.7 6 6s-2.7 6-6 6v1c3.9 0 7-3.1 7-7S11.9 1 8 1z"></path>
            </svg>
            Aggregated Data Profiles
        </cds-side-nav-link>
        <cds-side-nav-link href="javascript:void(0)"
                           hx-get="/admin/connectors"
                           hx-on::after-request="
         document.querySelectorAll('cds-side-nav-link').forEach(e => e.removeAttribute('active'));
         this?.toggleAttribute('active');"
                           hx-push-url="true"
                           hx-target="#view-panel">
            <svg aria-hidden="true" fill="currentColor" focusable="false"
                 height="16" preserveAspectRatio="xMidYMid meet" slot="title-icon" viewBox="0 0 16 16" width="16"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M4.1 12.6l-.6.8c.6.5 1.3.9 2.1 1.2l.3-.9C5.3 13.4 4.7 13 4.1 12.6zM2.1 9l-1 .2c.1.8.4 1.6.8 2.3L2.8 11C2.4 10.4 2.2 9.7 2.1 9zM5.9 2.4L5.6 1.4C4.8 1.7 4.1 2.1 3.5 2.7l.6.8C4.7 3 5.3 2.6 5.9 2.4zM2.8 5L1.9 4.5C1.5 5.2 1.3 6 1.1 6.8l1 .2C2.2 6.3 2.5 5.6 2.8 5zM8 1v1c3.3 0 6 2.7 6 6s-2.7 6-6 6v1c3.9 0 7-3.1 7-7S11.9 1 8 1z"></path>
            </svg>
            Connectors
        </cds-side-nav-link>
    </cds-side-nav-items>
</cds-side-nav>

<!--  Right side navigation  -->
<main class="cds--content cds-ce-demo-devenv--ui-shell-content">
    <div class="cds--grid">
        <div class="cds--row">
            <div class="cds--col-lg-13">
                <div id="view-panel" layout:fragment="view-panel-content" th:fragment="details">
                    <div id="breadcrumb" th:fragment="breadcrumb (entries)">
                        <cds-breadcrumb no-trailing-slash="" th:if="${entries != null}">
                            <cds-breadcrumb-item>
                                <cds-breadcrumb>
                                    Home
                                </cds-breadcrumb>
                            </cds-breadcrumb-item>
                            <cds-breadcrumb-item th:each="breadcrumb, iter : ${entries}">
                                <cds-breadcrumb-link
                                    href="javascript:void(0)"
                                    hx-push-url="true"
                                    hx-target="#view-panel"
                                    th:attrappend="is-currentpage=${iter.last}?'true'"
                                    th:hx-get="${breadcrumb[1]}"
                                    th:is-currentpage="${iter.last}"
                                    th:text="${breadcrumb[0]}">
                                </cds-breadcrumb-link>
                            </cds-breadcrumb-item>
                        </cds-breadcrumb>
                    </div>

                    <div id="page-header" th:fragment="page-header">
                        <h4><span th:text="${pageName} ?: '&nbsp;'"></span></h4>
                        <h2><span th:text="${title}"></span></h2>
                        <small><em><span th:text="${subtext ?: '&nbsp;'}"></span></em></small>
                    </div>
                    <h4>Welcome to IKO</h4>
                    <img
                        alt="Carbon illustration"
                        class="page-landing__illo"
                        height="498"
                        th:src="@{assets/tab-illo.png}"
                        width="640"/>
                </div>
            </div>
        </div>
    </div>
</main>


<!--Modal container-->
<div id="modal-container"></div>
<script type="text/javascript">
    /*htmx.logAll();*/
    htmx.config.allowNestedOobSwaps = false; // Disable nested out-of-band swaps
</script>

</body>
</html>